@model BusinessFacade.Voorziening

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Voorziening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Wasserij" /> @Html.DisplayNameFor(model => model.Wasserij)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Busstock" class="control-label"></label>
                <input asp-for="Busstock" class="form-control" />
                <span asp-validation-for="Busstock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coolersband" class="control-label"></label>
                <input asp-for="Coolersband" class="form-control" />
                <span asp-validation-for="Coolersband" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoolersGMM" class="control-label"></label>
                <input asp-for="CoolersGMM" class="form-control" />
                <span asp-validation-for="CoolersGMM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
