@model BusinessFacade.Special

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Special</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HdWitGr" class="control-label"></label>
                <input asp-for="HdWitGr" class="form-control" />
                <span asp-validation-for="HdWitGr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdWitKl" class="control-label"></label>
                <input asp-for="HdWitKl" class="form-control" />
                <span asp-validation-for="HdWitKl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdZwartGr" class="control-label"></label>
                <input asp-for="HdZwartGr" class="form-control" />
                <span asp-validation-for="HdZwartGr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdZwartKl" class="control-label"></label>
                <input asp-for="HdZwartKl" class="form-control" />
                <span asp-validation-for="HdZwartKl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Runner" class="control-label"></label>
                <input asp-for="Runner" class="form-control" />
                <span asp-validation-for="Runner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arts" class="control-label"></label>
                <input asp-for="Arts" class="form-control" />
                <span asp-validation-for="Arts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zuurstof" class="control-label"></label>
                <input asp-for="Zuurstof" class="form-control" />
                <span asp-validation-for="Zuurstof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kine" class="control-label"></label>
                <input asp-for="Kine" class="form-control" />
                <span asp-validation-for="Kine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vervoer" class="control-label"></label>
                <input asp-for="Vervoer" class="form-control" />
                <span asp-validation-for="Vervoer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

