.rider {
    display: flex;
    flex-direction: column;
}

    .rider section {
        border: thin double black;
        padding: 1em;
    }

    .rider header {
        background-color: lightyellow;
        border: thin double orange;
        text-align: center;
    }

    .rider p {
        background-color: lightgrey;
        border: thin double green;
    }

        .rider p > span:first-of-type {
            padding-right: 10px;
        }

            .rider p > span:first-of-type::after {
                content: ":";
            }

        .rider p > span:last-of-type {
            text-align: right;
        }

.topData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

    .topData .personen {
        display: flex;
        flex-wrap: wrap;
    }

    .topData #importantData {
        flex-grow: 2;
    }

.personen .persoon {
}
