.rider {
    
}

    .rider section {
        /*border: thin double black;*/
        padding: 1em;
    }

    .rider header {
        background-color: lightyellow;
        /*border: thin double orange;*/
        text-align: center;
    }

    .rider p {
        background-color: lightgrey;
        /*border: thin double green;*/
        padding: 2px;
    }

        .rider p > label:first-of-type {
            padding-right: 10px;
        }

            .rider p > label:first-of-type::after {
                content: ":";
            }

        .rider p > span:last-of-type {
            text-align: right;
        }

.topData {
    
}

    .topData .personen {
        
    }

    .topData #importantData {
        
    }

.personen .persoon {
}

.rider .comments{
    column-count: 2;
}
